<h1>Add a Movie</h1>

<form method="POST" action="/movies/new">
    <label>title</label>
    <input type="text" name="title" />
     <label>Genre</label>
    <input type="text" name="genre" />
     <label>Plot</label>
    <input type="text" name="plot" />
    <label>Cast</label>
     <select name="cast">
        <option value="0">Select a Star</option>
        {{#each celebrities}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
    </select> 
    <button type="submit">Create</button>
</form>
